
@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<form action="@Url.Action("PruebaPost", "HomeController") method=" post">
    <input name="Nombre" type="text" />
    <input name="Apelliedo" type="text" />
    <input type="submit" />
</form>
